		#nr_id002 {
			display: none;
		}
		
		#biaoJi {
			transition: left 0.3s;
			-webkit-transition: left 0.3s;
			/* Safari */
		}
		
		.right_main {
			transition: height 1s;
			-webkit-transition: height 1s;
			/* Safari */
		}
		
		.neirong {
			transition: opacity 1s;
		}
		
		.fullScreen {
			position: absolute;
			z-index: 999;
			top: 0px;
			left: 0px;
			height: 0px;
			width: 100%;
			background: blanchedalmond;
			text-align: center;
			line-height: 1080px;
			font-size: 100px;
			/*display: none;*/
			opacity: 0;
			transition: opacity 1s;
		}