/* 常用工具类 */
.clearfix:after {
  clear: both;
}
.clearfix:before,
.clearfix:after {
  content: ' ';
  display: table;
}
.clearfix {
  *zoom: 1;
}
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
html,
body {
  height: 100%;
  overflow: hidden;
}
ul,
li {
  list-style: none;
}
.contents {
  position: absolute;
  top: 0;
  bottom: 50px;
  width: 100%;
  overflow: auto;
  text-align: center;
}
.contents .h1 {
  margin: 20px 0 60px;
}
.contents .h3 {
  margin: 15px 0;
  color: #666666;
}
.contents .h5 {
  margin: 100px 0;
  font-size: 26px;
}
.contents .welcome {
  border-bottom: 1px solid #666666;
  padding-bottom: 15px;
}
.contents .question {
  color: #13182e;
  text-decoration: none;
  font-weight: bold;
}
.contents .question:focus,
.contents .question:hover {
  color: #13182e;
}
.contents .classify {
  text-align: left;
}
.contents .classify ul li {
  float: left;
  width: 33.33%;
  padding: 0 100px;
}
.contents .classify ul li .introWrap {
  margin-bottom: 15px;
}
.contents .classify ul li .introWrap .portrait {
  display: inline-block;
  width: 100px;
  height: 100px;
  background: url(../img/1.jpg) no-repeat center center;
  background-size: cover;
}
.contents .classify ul li .introWrap .nameWrap {
  display: inline-block;
  margin-left: 15px;
  vertical-align: top;
}
.contents .classify ul li .introWrap .nameWrap .h6 {
  font-size: 18px;
  margin-bottom: 0.5em;
}
.contents .classify ul li .introWrap .nameWrap p {
  line-height: 2;
}
.contents .classify ul li .introWrap .nameWrap .fa {
  color: #cccccc;
}
.contents .classify ul li .introWrap .nameWrap .orange {
  color: #f37f11;
}
.contents .classify ul li .contribution {
  padding: 10px;
  background-color: #eeeeee;
  border: 1px solid #cccccc;
}
.contents .classify ul li .contribution span:last-child {
  margin-left: 10px;
}
.contents .classify ul li .questions a {
  display: block;
  margin-top: 15px;
  color: #000000;
  text-decoration: none;
}
.navs {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
  line-height: 50px;
  background-color: #13182e;
}
.navs .nav {
  float: left;
  width: 160px;
  color: #ffffff;
  text-decoration: none;
  font-size: 1em;
  text-align: center;
}
.navs .nav:hover {
  background-color: #658;
}
.navs .on {
  background-color: #658;
}
.navs .back {
  float: right;
  color: #ffffff;
  text-decoration: none;
  background-color: #658;
  padding: 0 2em;
}
